body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.navbar-component {
  margin-bottom: 3rem; }
  .navbar-component .collapse.isYesOpen {
    background-color: white;
    text-align: center; }

.first-component {
  margin-bottom: 5rem;
  text-align: center; }
  .first-component__image-alignment {
    display: flex;
    justify-content: center; }
    .first-component__image-alignment .ilustration-image-container {
      height: 320px;
      max-height: 320px; }
      .first-component__image-alignment .ilustration-image-container .ilustration-image {
        height: 100%;
        width: 100%; }

.second-component {
  margin-bottom: 2rem; }
  .second-component__text-content {
    margin-bottom: 4rem;
    text-align: center; }
  .second-component__features .feature {
    margin-bottom: 2rem; }

.video-component {
  margin-bottom: 5rem; }

.testimonial-component {
  margin-bottom: 5rem; }
  .testimonial-component__carousel {
    overflow-x: auto; }
    .testimonial-component__carousel .row {
      flex-wrap: nowrap; }
      .testimonial-component__carousel .row .col {
        display: flex; }
        .testimonial-component__carousel .row .col .card {
          margin-top: 20px;
          width: 385px; }
          .testimonial-component__carousel .row .col .card .testimonial-image {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40px;
            width: 40px; }

.rick-and-morty {
  text-align: center; }
  .rick-and-morty .full {
    opacity: 1; }
  .rick-and-morty .medium {
    opacity: 0.5; }
