body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  // Navbar Component
  .navbar-component {
      margin-bottom: 3rem;

      .collapse {
          &.isYesOpen {
            background-color: white;
            text-align: center;

            // .button-container {
            //     display: none;
            // }
          }
      }
  }

  // First Component
  .first-component {
    margin-bottom: 5rem;
    text-align: center;

    &__image-alignment {
        display: flex;
        justify-content: center;



        .ilustration-image-container {
            height: 320px;
            max-height: 320px;
            .ilustration-image {
                height: 100%;
                width: 100%;
            }
        }
    }
  }
  // Second Component
  .second-component {
      margin-bottom: 2rem;
      &__text-content {
          margin-bottom: 4rem;
          text-align: center;
      }

      &__features {
          .feature {
              margin-bottom: 2rem;
          }
      }
  }
  // Video Component
  .video-component {
      margin-bottom: 5rem;
  }

  // Testimonial Component
  .testimonial-component {
        margin-bottom: 5rem;
        
        &__carousel {
            overflow-x: auto;

            .row {
                flex-wrap: nowrap;

                .col {
                    display: flex;
                    
                    .card {
                        margin-top: 20px;
                        width: 385px;
                        .testimonial-image {
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
  }

  // Rick and Morty 

  .rick-and-morty {
      text-align: center;

      .full {
          opacity: 1;
      }

      .medium {
          opacity: 0.5;
      }
  }